[submodule "Packages/GameCore"]
	path = Packages/GameCore
	url = https://github.com/TzarGamesStudio/GameCore.git

[submodule "Packages/MatchGameFramework"]
	path = Packages/MatchGameFramework
	url = https://github.com/TzarGamesStudio/MatchGameFramework.git

[submodule "Packages/com.tzargames.multiplayerkit"]
	path = Packages/com.tzargames.multiplayerkit
	url = https://github.com/TzarGamesStudio/MultiplayerKit.git

[submodule "Packages/ECS-Renderer"]
	path = Packages/ECS-Renderer
	url = https://github.com/TzarGamesStudio/ECS-Renderer.git

[submodule "Packages/com.tzargames.animation"]
	path = Packages/com.tzargames.animation
	url = https://github.com/TzarGamesStudio/DOTS-Animation-Framework

[submodule "Apps/Common"]
	path = Apps/Common
	url = https://github.com/TzarGamesStudio/MatchGameFrameworkServices
[submodule "Packages/gRPC"]
	path = Packages/gRPC
	url = https://github.com/TzarGamesStudio/gRPC-Unity.git
